<div class="container w-50">
  <h1 class="h1 my-5">Ask a question</h1>
  <form class="d-flex" action="/answer" data-turbo="false">
    <input type="text" class="form-control" name="question" placeholder="Insert question here..." required>
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
